@include font-face(
  'Roboto Condensed Light', 
  font-files(
    'robotocondensed-light-webfont.woff', 
    'robotocondensed-light-webfont.eot',
    'robotocondensed-light-webfont.ttf',
    'robotocondensed-light-webfont.svg'
  )
);

html {
  font-size: 100%;
  line-height: 1;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  
}

body {
  font-family: 'Roboto Condensed Light', "Helvetica Neue", Helvetica, Arial, sans-serif;

  @media screen and (min-width: 45em) {
    font-size: 107.692307692308%;
  }

}

img {
  max-width: 100%;
  border: 0;
  -ms-interpolation-mode: bicubic;
}

p {
  @extend %font-base;
}

#{headings()} {
  font-weight: 100;
}

h1 {
  font-size: 3.1875em;
  line-height: 1.223;
}

h2 {
  font-size: 2.125em;
  line-height: 1.223;
}

h3 {
  font-size: 1.3819em;
  line-height: 1.176;
}

h1,
h2 {
  @include text-shadow(rgba(0,0,0,.65) 0 2px 2px);
}

h4 {
  font-size: 1em;
  line-height: 1.56;
  text-transform: uppercase;
}

h5,
h6 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: .85em;
  line-height: 1.53;
  font-weight: 500;
}

h6 {
  color: #aaa;
  font-weight: 200;
}


